LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE
{
1000, "Blue"
}

STRINGTABLE
{
2000, "SunXP Blue"
}

STRINGTABLE
{
3000, "Normal"
3001, "Large Fonts"
3002, "Extra Large Fonts"
}

STRINGTABLE
{
4000, "Normal"
4001, "Large Fonts"
4002, "Extra Large Fonts"
}

STRINGTABLE
{
5000, "SunXP"
5001, "Visual Style"
5002, "ReactOS Foundation"
5003, "Pisarz, based on Luna from Windows XP"
5004, "Released under GNU/GPL 3.0, 2018"
5005, "https://github.com/sagudev/SunXP"
5006, "1.0"
5007, "Visual Style for ReactOS"
}